body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
}

.form {
  margin: 20px auto;
  width: 400px;
  padding: 20px;
  border: 2px solid rgb(255, 124, 124);
  border-radius: 10px;
}

label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

input, select {
  display: block;
  width: 375px;
  padding: 10px;
  border: 2px solid rgb(240, 135, 135);
  border-radius: 5px;
}

button {
  display: block;
  margin: 20px auto;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(240, 145, 145);
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}

.question {
  margin: 20px auto;
  width: 600px;
  padding: 20px;
  border: 2px solid rgb(255, 157, 157);
  border-radius: 10px;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.answers label {
  width: 40%;
  margin: 10px;
  padding: 10px;
  border: 2px solid rgb(255, 171, 171);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}

.question button {
  display: block;
  margin: 20px auto;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 163, 163);
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}

.result {
  margin: 20px auto;
  width: 600px;
  padding: 20px;
  border: 2px solid rgb(255, 173, 173);
  border-radius: 10px;
}

.result ul {
  list-style: none;
  padding: 0;
}

.result button {
  display: block;
  margin: 20px auto;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 179, 179);
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}
